---
import { Image } from 'astro:assets';
import logoAlternate from '../assets/images/logos/excurse-software-logo-alternate.png';
---

<nav id="menu-bar">
  <div class="menu-inner">
    <a href="/excurse-software/" class="menu-logo-link">
      <Image src={logoAlternate} alt="Excurse Software" class="menu-logo" height={32} loading="eager" quality={90} />
      <span class="menu-brand">Excurse Software</span>
    </a>
    <div class="menu-links">
      <a href="/excurse-software/#studio" class="menu-link">The Studio</a>
      <a href="/excurse-software/#games" class="menu-link">Our Games</a>
      <a href="/excurse-software/#team" class="menu-link">The Team</a>
      <a href="/excurse-software/#blog" class="menu-link">Blog</a>
    </div>
    <button class="menu-toggle" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>